.profile-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  margin-left: 6rem;
  margin-top: 3.5rem;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-name h4 {
  font-size: 25px;
  margin: 0;
  font-weight: 500;
}

.profile-name img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.profile-container p {
  font-size: 16px;
  margin-top: 4px;
  color: #f1f1f1;
}
